body{
    background: linear-gradient(45deg,  #30475E, #222831);
    background-size: 300% 300%;
    animation: color 15s ease infinite;
    font-family: 'Montserrat', sans-serif;
}

/* @keyframes color{
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
} */

hr{
    border: solid #000000;
}

header{
    background: url("imagens/tentamedio.jpg");
    padding: 20px 0;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase; /*texto maiusculo*/
    color: #000000;
    font-weight: bold; /*texto em negrito*/
    font-size: 22px;
    text-decoration: none; /*remove o traço*/
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
    position: relative;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 3px solid #000000;
    border-radius: 10px;
    transition: color 0.4s;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
    background: #ffffff;
}

.produtos li:hover {
    border-color: #c78c19;
    margin-bottom: -12px;
}

.produtos li:active{
    border-color: #088c19;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produto-descricao{
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0 0;
}

footer {
    text-align: center;
    background: url("imagens/bg.jpg");
    padding: 40px 0;
}

.copyright{
    color: #ffffff;
    font-size: 13px;
    margin: 20px 0 0;
}

main{
    /* width: 940px;
    margin: 0 auto; */
    background: linear-gradient(45deg, #E5E3C9 #B4CFB0);
    /* align-items: center;
    text-align: center; */
}

.te{
    width: 940px;
    margin: 0 auto;
}


form{
    margin: 40px 0;
}


form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
    color: #ffffff;
}

#sele{
    padding: 8px;
    border-radius: 5px;
}

.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
    border-radius: 5px;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: nome;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background: darkorange;
    transform: scale(1.2);
}

table{
    margin: 20px 0 40px;
    transition: 1s all;
}

table:hover{
    transform: scale(1.2);
    box-shadow: 0 0 20px #252424;
}

thead{
    background:  #555555;
    color: white;
    font-weight: bold;
}

td , th{
    border: 1px solid #000000;
    padding: 8px 15px;
    font-weight: bold;
}

td{
    background: white;
}

 /* css da pagina inicial */

 .banner{
     width: 100%;
 }

 .principal-fundo{
    background: #222831;
 }

 .principal{
     padding: 3em 0;
     background: #222831;
     width: 940px;
     margin: -2px auto;
 }

 .titulo-principal{
     text-align: center;
     font-size: 2em;
     margin: 0 0 1em;
     color: #5800FF;
     font-weight: bold;
     clear: left
 }

 .principal p{
     margin: 0 0 1em;
     color: #E6D5B8;
     font-size: 18px;
     
 }

 .principal strong {
     font-weight: bold;
 }

 .principal em {
     font-style: italic;
 }

 .utensilios{
     width: 133px;
     float: left;
     margin: 0 20px 20px 0;
 }

.mapa{
     padding: 3em 0;
     
     background: linear-gradient(#222831,#30475E);
 }

 .mapa p {
     margin: 0 0 2em;
     text-align: center;
     color: white;
     font-size: 18px;
 }

 .mapa-conteudo{
     width: 940px;
     margin: 0 auto;
 }

 .beneficios{
     padding: 3em 0;
     background: #30475E;
 }

 .conteudo-beneficios{
     width: 640px;
     margin: 0 auto;
 }

 .lista-beneficios{
     width: 40%;
     display: inline-block;
     vertical-align: top;
 }

 .itens{
     color: #ffffff;
     line-height: 1.5;
 }

 .itens:first-child{
     font-weight: bold;
 }

 .itens:before{
     content: "★";
 }

 .imagem-beneficios {
     width: 60%;
     opacity: 1;
     box-shadow: 10px 10px 5px 0 #000000;

 }

 .imagem-beneficios:hover{
     opacity: 0.3;
     transition: 400ms;
 }

 

 .video{
    width: 520px;
    margin: 2em auto;
 }

 @media screen and (max-width: 480px) {
    .caixa, .principal, .principal-fundo, .conteudo-beneficios, .mapa-conteudo, .video, .te {
        width: auto;
    }

    .te{
        width: 100%;
    }

    h1{
        align-items: center;
    }

    nav {
        position: static;
    }

    .lista-beneficios, .imagem-beneficios {
        width: 90%;
    }
 }

